dist: xenial
language: cpp
compiler: gcc
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - libboost-test-dev
    - doxygen
    - doxygen-doc
    - doxygen-latex
    - doxygen-gui
    - graphviz
script:
- doxygen Doxyfile
- CXX=/usr/bin/g++-7 CC=/usr/bin/gcc-7 cmake .
- cmake --build .
- cmake --build . --target test
- cmake --build . --target package
- ctest
after_success:
- bash <(curl -s https://codecov.io/bash)
deploy:
  - provider: script
    skip_cleanup: true
    script:
      - curl -f -T bulky-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb -uhankhenshaw:$BINTRAY_API_KEY "https://api.bintray.com/content/hankhenshaw/MidRep/Observer/$TRAVIS_BUILD_NUMBER/bulky-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb;deb_distribution=xenial;deb_component=main;deb_architecture=amd64;publish=1"
    on:
      branch: master
  - provider: pages
    skip_cleanup: true
    local_dir: $TRAVIS_BUILD_DIR/html
    github_token: $GH_REPO_TOKEN
    on:
      branch: master